* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-main;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
  body {
    background-color: #fff;
    overflow: hidden;
  }
