* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: $font-main;
    font-weight: 400;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }
  body {
    max-width: 1440px;
    background-color: #fff;
  }
