.section {
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    .text_container {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
        padding: 8%;
        background: transparent ;
        .head-primary {
            font-family: $font-secondary;
            font-weight: 400;
            color: $font-color-ligth;
            letter-spacing: 0.2rem;
            span {
                font-family: $font-secondary;
                padding: 3px 8px;
                margin-right: 0.8rem;
                color: #fff;
                font-weight: 700;
                border-radius: 15px 15px;
                background-color: $font-color-main;
            }
        }
        .head-secundary {
            max-width: 280px;
            color: $font-color-secondary;
            font-family: sans-serif;
        }
        h1 {
            max-width: 650px;
            font-family: $font-secondary;
            font-size: 4rem;
            color: $font-color-main;
            font-weight: 700;
        }
        .buttons_container {
            display: flex;
            align-items: center;
            gap: 20px;
            margin: 50px 0;
        }
    }
    .illustration {
        width: 40%;
        height: auto;
        display: flex;
        align-items: center;
        position: relative;
    }
    .illustration:after {
        content: "";
        background-color: $bg-main;
        position: absolute;
        width: 200%;
        height: 100%;
        border-radius: 10%;
        z-index: -1;
        top: -52%; 
    }
}

@media (max-width: 600px) {
    .section {
        flex-direction: column-reverse;
        gap: 50px;
        .text_container {
           width: 100%;
           .head-primary {
               font-size: 0.9rem;
               span {
                font-size: 0.9rem;
               }
           }
           h1 {
               font-size: 2.3rem;
           }
           .head-secundary {
               line-height: 25px;
           }
           .buttons_container {
                margin: 15px 0;
                a:last-child {
                    font-size: 0.7rem;
                }
            }
        }
        .illustration {
            width: 100%;
            img {
                width: 135%;
            }
        }
        .illustration:after {
            height: 170%;
            right: -150%;
        }
    }
}
