$font-main: "Cera Pro Medium";
$font-secondary: "Cera Pro Regular";

$color-main: hsl(0, 100%, 68%);

$bg-main: hsl(207, 33%, 95%);
$bg-secondary: hsl(231, 7%, 65%);

$font-color-main: hsl(230, 29%, 20%);
$font-color-secondary: hsl(230, 11%, 40%);