@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;700&family=Barlow:wght@100;300;400;500;700&display=swap');

$font-main: 'Barlow', sans-serif;
$font-secondary: 'Barlow Condensed', sans-serif;

$color-action: hsl(0, 100%, 68%);

$bg-main: hsl(207, 33%, 95%);

$font-color-main: hsl(230, 29%, 20%);
$font-color-secondary: hsl(230, 11%, 40%);
$font-color-ligth: hsl(231, 7%, 65%);
