/** 

    This is a main scss file. It is used to generate a css file 
    on the css folder. I like to use the scss because is can possible 
    use variables and my classes looks the better.    

**/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;700&family=Barlow:wght@100;300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  background-color: #fff;
  overflow: hidden;
}

.header {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav_menu {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 8%;
}
.header .nav_menu .mobile_menu {
  display: none;
  cursor: pointer;
}
.header .nav_menu .close {
  display: none;
  cursor: pointer;
}
.header .nav_menu .menu .menu_container {
  display: flex;
  gap: 50px;
  text-decoration: none;
}
.header .nav_menu .menu .menu_container .menu-item {
  text-decoration: none;
}
.header .nav_menu .menu .menu_container .menu-item a {
  color: #242942;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Barlow Condensed", sans-serif;
}
.header .nav_menu .menu .menu_container .menu-item:last-child {
  position: relative;
}
.header .nav_menu .menu .menu_container .menu-item:last-child a {
  color: #a0a1ac;
  margin-left: 30px;
}
.header .nav_menu .menu .menu_container .menu-item:last-child a::before {
  content: url("https://api.iconify.design/akar-icons/circle-fill.svg?color=%23a0a1ac&width=8");
  position: absolute;
  left: -15px;
  top: -1px;
}

@media (max-width: 600px) {
  .header .nav_menu .logo img {
    max-width: 25px;
    max-height: 25px;
  }
  .header .nav_menu .mobile_menu {
    display: block;
  }
  .header .nav_menu .close {
    display: none;
  }
  .header .nav_menu .active_button {
    display: block;
  }
  .header .nav_menu .active {
    transform: translateY(20%) !important;
  }
  .header .nav_menu .menu {
    width: 85%;
    position: absolute;
    top: 10vh;
    background-color: #fff;
    -webkit-box-shadow: -4px 6px 22px -4px #000000;
    box-shadow: -4px 6px 22px -4px #000000;
    transform: translateY(-200%);
    transition: transform 0.5s ease-in;
  }
  .header .nav_menu .menu .menu_container {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .header .nav_menu .menu .menu_container .menu-item {
    width: 90%;
    padding: 20px;
    text-align: center;
  }
  .header .nav_menu .menu .menu_container .menu-item:last-child {
    border-top: 1px solid #a0a1ac;
  }
  .header .nav_menu .menu .menu_container .menu-item:last-child a {
    margin: 0;
  }
  .header .nav_menu .menu .menu_container .menu-item:last-child a::before {
    display: none;
  }
}
.section {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
}
.section .text_container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  padding: 8%;
  background: transparent;
}
.section .text_container .head-primary {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  color: #a0a1ac;
  letter-spacing: 0.2rem;
}
.section .text_container .head-primary span {
  font-family: "Barlow Condensed", sans-serif;
  padding: 3px 8px;
  margin-right: 0.8rem;
  color: #fff;
  font-weight: 700;
  border-radius: 15px 15px;
  background-color: #242942;
}
.section .text_container .head-secundary {
  max-width: 280px;
  color: #5b5f71;
  font-family: sans-serif;
}
.section .text_container h1 {
  max-width: 650px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 4rem;
  color: #242942;
  font-weight: 700;
}
.section .text_container .buttons_container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 50px 0;
}
.section .illustration {
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .section {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .section .text_container {
    width: 100%;
  }
  .section .text_container .head-primary {
    font-size: 0.9rem;
  }
  .section .text_container .head-primary span {
    font-size: 0.9rem;
  }
  .section .text_container h1 {
    font-size: 2.3rem;
  }
  .section .text_container .head-secundary {
    line-height: 25px;
  }
  .section .text_container .buttons_container {
    margin: 15px 0;
  }
  .section .text_container .buttons_container a:last-child {
    font-size: 0.7rem;
  }
  .section .illustration {
    width: 100%;
  }
  .section .illustration img {
    width: 135%;
  }
}

/*# sourceMappingURL=main.css.map */
